@model IEnumerable<UserViewModel>

@{
    ViewData["Title"] = "User List";
}

<h1>@ViewData["Title"]</h1>

<a asp-action="CreateUser">Create User</a>

<table class="table">
    <thead>
        <tr>
            <th>Email</th>
            <th>Name</th>
            <th>Address</th>
            <th>Card Type</th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach(var user in Model) {
            <tr>
                <td>@user.Email</td>
                <td>@user.Name</td>
                <td>@user.Street @user.HouseNumber, @user.City @user.PostalCode</td>
                <td>@user.CardType</td>
                <td>
                    <a asp-action="EditUser" asp-route-id="@user.Id">Edit</a>
                </td>
            </tr>
        }
    </tbody>
</table>