@model List<BeestjeOpJeFeestje.ViewModels.BookingViewModel>

@{
    ViewData["Title"] = "Mijn boekingen";
}

<h1>@ViewData["Title"]</h1>

@if(Model.Any()) {
    <table class="table">
        <thead>
            <tr>
                <th>Datum</th>
                <th>Dieren</th>
                <th>Korting</th>
                <th>Totaalprijs</th>
                <th>Acties</th>
            </tr>
        </thead>
        <tbody>
            @foreach(var viewModel in Model) {
                <tr>
                    <td>@viewModel.Booking.DateTime.ToString("yyyy-MM-dd")</td>
                    <td>
                        <ul>
                            @foreach(var animalBooking in viewModel.Booking.AnimalBookings) {
                                <li>@animalBooking.Animal.Name</li>
                            }
                        </ul>
                    </td>
                    <td>@viewModel.Booking.DiscountApplied%</td>
                    <td>€@viewModel.TotalPrice</td>
                    <td>
                        <a href="@Url.Action("Cancel", "Booking", new { id = viewModel.Booking.Id })" class="btn btn-danger">Annuleer boeking</a>
                    </td>
                </tr>
            }
        </tbody>
    </table>
}
else {
    <p>Je hebt nog geen boekingen.</p>
}
